<div class="row tech-device">
  <div class="col-2"></div>
  <div class="col-4">
    <h1 class="underline"> Dreams and interest </h1>
    <h3> I have finally discovered what I wanted to do ...</h3>
  </div>
  <div class="col-4">
    <div class="">
      <%= image_tag "thai-edu.jpg", alt: "Mew_photo", class: 'shadow-css w-100'%>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<div class="row mobile name-title">
    <h2 class="text-center" style = "padding:50px !important;"> Dreams and interest </h2>
    <p class="text-center" style = "padding:0px !important;"> I have finally discovered what I wanted to do ...</p>
</div>

<div class="row mobile">
  <%= image_tag "thai-edu.jpg", alt: "Mew_photo", class: 'shadow-css w-100 m-5'%>
</div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
<div class="row invisible mobile">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi tot</h1>
</div>
