  <div class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <div class="device device-macbook-pro tech-device">
        <div class="device-frame">
          <img class="device-content" src=<%=image_path(data.products.first.image)%>>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="col-3">
      <h1 class="">Baby steps</h1>
      <h3> I decided to take a step further by taking a 9 week bootcamp where I properly learn coding and met awesome people! </h3>
    </div>
  </div>
<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
