

<%# <%= image_tag "mathseqn.gif", alt: "gifs", class: 'shadow-css w-100'%>
<div class="row tech-device">
  <div class="col-2"></div>
  <div class="col-4">
    <h1 class="underline"> Long time ago </h1>
    <p class="h2"> I started to enjoy Mathematics and its application</p>
    <img src="assets/images/spiral.gif" alt=""style="width:450px;" class="shadow-css">
  </div>
  <div class="col-4">
    <div class="">
      <%= image_tag "kid-maths.jpg", alt: "gifs", class: 'shadow-css w-100'%>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<div class="mobile">
  <%= image_tag "spiral.gif", alt: "gifs", class: 'shadow-css w-100'%>
</div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex? Lorem</h1>
</div>
