<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%# <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a> %>
  <div class="navbar-brand">
    <p class="city-name2">Kandanai, Leenutaphong</p>
  </div>


<div class="contact-links-top">
  <a href="#contact">          <i class="fas fa-envelope" style="font-size:18px;padding:10px;"></i>
  </a><a href="#about">          <i class="fas fa-user" style="font-size:18px;padding:10px;"></i>
  </a><a href="#projects">          <i class="fas fa-laptop-code" style="font-size:18px;padding:10px;"></i>
  </a><a href="#graphics">          <i class="fas fa-magic" style="font-size:18px;padding:10px;"></i>
  </a>
</div>


  <p class="city-name">Bangkok, Thailand</p>
</div>
