
<div id="cursor"></div>

<div id="curso cursor" class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky border-bottom" style="background-color:rgba(255,255,255,0.3)">
  <%# <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a> %>
  <div class="navbar-brand city-name">

    <p class="city-name">Bangkok, Thailand</p>
  </div>


<div class="contact-links-top">
  </a><a href="#top">          <i class="fas fa-home" style="font-size:18px;padding:10px;"></i></i>
  </a><a href="#about">          <i class="fas fa-user" style="font-size:18px;padding:10px;"></i>
  </a><a href="#project-section">          <i class="fas fa-laptop-code" style="font-size:18px;padding:10px;"></i>
  <a href="#contact">          <i class="fas fa-envelope" style="font-size:18px;padding:10px;"></i>
  </a>
</div>

  <p class="city-name2 tech-device">Kandanai Leenutaphong</p>
  <p class="city-name2 mobile" style="padding-left:120px;">Kandanai</p>
</div>

