<div class="row pt-5">
  <div class="col-2"></div>
  <div class="col-4"><%= image_tag "squared.jpg", alt: "Mew_photo", class: 'shadow-css w-100 rounded'%></div>
  <div class="col-4">
    <h1 class="text-center">I am Mew 😎</h1>
    <h1>I am an entrepeneur in EdTech</h1>
  </div>

</div>



<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
