<div class="text-center name-title">
  <h2>I am Mew 😀</h2>
</div>
<div class="py-5 d-flex justify-content-center tech-device">
   <div class="w-25"><%= image_tag "squared.jpg", alt: "Mew_photo", class: 'shadow-css w-100 rounded tech-device'%></div>
</div>

<div class="py-3 d-flex justify-content-center">
   <div class="w-100"><%= image_tag "squared.jpg", alt: "Mew_photo", class: 'shadow-css w-100 rounded mobile'%></div>
</div>

<div class="text-center name-title tech-device">
  <h3>I am an entrepeneur in EdTech </h3>
</div>

<div class="text-center name-title mobile">
  <p>I am an entrepeneur in EdTech </p>
</div>


<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
