<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h1 class="text-center">My name is am Mew 😎</h1>
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h2>a fullstack developer, datascientist, mathematician, and an entrepeneur</h2>
  </div>
</div>
<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>



<div class="row">
  <div class="d-flex content-justify-center">
    <div class="col-5"></div>
    <div class="col-2">
      <%= image_tag "squared.jpg", alt: "Mew_photo", class: 'shadow-css w-100 rounded'%>
    </div>

  </div>
</div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
