  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <div class="container shadow-css bg-light rounded">
        <h1> sadasas</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aperiam doloremque adipisci reiciendis repellendus vitae similique, nulla officiis asperiores laborum totam numquam accusamus consequuntur assumenda, ad eveniet harum quasi suscipit Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, minima sed vero voluptatum nisi quae, deleniti laborum reiciendis nulla molestias sapiente quibusdam amet ex quos placeat. Repellendus ullam at illo.</p>
        <p class="text-center"><button>Tech Stack</button> <button>Skill</button> <button>Contact Me</button></p>
      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-6">
      <h1 class="underline">My tech stack</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, laudantium voluptatum nostrum modi laborum deleniti quibusdam architecto voluptatem nihil accusantium provident cum nobis explicabo vero veniam? Expedita aliquam debitis voluptatum!</p>
    </div>
  </div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
