
  <div class="container bg-transparent">
    <div class="row">
      <div class="col-2" style="margin-top:100px;">
        <button class="btn btn-primary w3-button tablinks" onclick="terminal(event, 'Fade2')">Try me</button>
        <button onclick="typeWriter()" class="btn btn-primary">Try again</button>
      </div>
      <div class="col-3">
        <div class=fakeMenu>
          <div class="fakeButtons fakeClose"></div>
          <div class="fakeButtons fakeMinimize"></div>
          <div class="fakeButtons fakeZoom"></div>
        </div>
        <div class="fakeScreen" style="height: 300px;">
          <p id="demo" class="h3" style="color: #9CD9F0;"></p>
          <%# <p class="typing-demo2" style="color: #CDEE69;">test is a good thing</p>
          <p class="typing-demo" style="color: #E09690;">This is a typing demo.</p> %>
        </div>
      </div>
      <div class="col-3"></div>
      <div class="col-4">
        <div id="Fade2" class="w3-container terminal w3-animate-opacity" style="display:none;">
          <h1 class="underline">My tech stack</h1>
          <h2>Fade in</h2>
          <p>London is the capital city of England.</p>
          <p>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
        </div>
      </div>
    </div>

  </div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>

<script>
var i = 0;
var txt = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>
