  <div class="container bg-transparent">
    <div class=fakeMenu>
      <div class="fakeButtons fakeClose"></div>
      <div class="fakeButtons fakeMinimize"></div>
      <div class="fakeButtons fakeZoom"></div>
    </div>
    <div class="fakeScreen">
      <p class="new-p line1">&#91;&nbsp;&ldquo;I'm a web developer.&rdquo;,</p>
      <p class="new-p line2">&nbsp;&nbsp;&ldquo;I'm a web designer.&rdquo;,</p>
      <p class="new-p line3">&nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;</p>
      <p class="new-p line4"></p>
    </div>
  </div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
