  <div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure unde, dignissimos consequuntur nisi aperiam iste laboriosam expedita commodi explicabo fugiat eius eveniet placeat eos assumenda necessitatibus ipsam impedit dolorum corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores incidunt consequuntur, blanditiis cumque provident placeat excepturi quod. Minima fugit voluptas rerum debitis ducimus facilis cumque minus in libero, fugiat eius. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, neque dicta? Quos provident ea beatae veniam ad voluptate labore natus fuga cum nesciunt, suscipit officiis eos obcaecati ex vel magnam.</h1>
</div>


  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="name-title">
        <h1 class="text-center" >Now ...</h1>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ex soluta laborum vero a iusto ullam explicabo voluptas rem. Modi doloremque dolorem similique necessitatibus esse fuga sapiente tempore ipsum dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rem dignissimos commodi sint voluptatibus eligendi, incidunt fugit sequi explicabo, eius consectetur officiis facere. Quia deleniti rerum magnam sit ipsam quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eveniet impedit ullam alias numquam sint at consequuntur quae illum saepe rem nulla corrupti, dolor atque exercitationem cupiditate harum natus. Quod.</h1>
</div>
<div class="row invisible mobile">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus </h1>
</div>
