  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="text-center">Now I am...</h1>
    </div>
    <div class="col-1"></div>
  </div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
