/* set arrow positioning */
.arrow {
	width: 60px;
	height: 82px;
	position: absolute; /* don't forget set container to relative */
	left: 49%;
	margin-left: 0px;
	bottom: 5%;
  z-index:999;
}
/* set arrow styles */
.arrow path {
	stroke: white;
	stroke-width: 5px;
	fill: transparent;
	animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down{
0% { opacity:0 }
25% { opacity:1 }
75% { opacity:0 }
100% { opacity:0 }
}
/* arrow animation delay */
.arrow path.a1{	animation-delay:-1s; }
.arrow path.a2{	animation-delay:-.5s; }
.arrow path.a3{	animation-delay:0s; }

@media screen and (max-device-width: 640px) {
  .arrow {
	width: 60px;
	height: 82px;
	position: absolute; /* don't forget set container to relative */
	left: 43%;
	margin-left: 0px;
	bottom: 5%;
  z-index:999;
}
}
