// body {
//   position: fixed;
// }

body {
    // background-color: white;
  // background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/times-square-perspective.jpg);
  // background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(/assets/images/bookflip.gif);
  // background-color: #CBB9A8;
  overflow: hidden;
  height: 100%;
  position: fixed;
  width:100%;

  background-color: white;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: #F3F3F3;
  }
  &::-webkit-scrollbar-thumb {
    background: #F7E3AA;
  }
}

.container {
    background-color: white;
}

h1, h2, h3, p, ul, #demo, button {
  font-family: 'Roboto Mono', monospace;
}

p, ul, button {
  font-size:18px;
}

html {
  scroll-behavior: smooth;
  transition-duration: 5s;
}

*, button{
  cursor: none;
}

#cursor,
#follower {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}

#cursor {
  background: #c8e936;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  z-index: 1001;
  opacity: 0;
  transition: transform 0.5s;
}

#follower {
  background: #c4dce2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  z-index: 1000;
  transition: transform 0.5s;
}

#cursor.active {
  transform: scale(2.4);
  background: #00ccff;
}

#cursor.hide,
#follower.hide {
  display: none;
}

@media screen and (max-device-width: 640px) {
  #cursor {
    display:none;
  }
}


