
.tech-device {
  // display: block;
}
.mobile {
  display: none !important;
}

@media screen and (max-device-width: 640px) {
  .tech-device {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }
}
