
.intro {
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px; }

.name-title h1 {
  font-family: "NeueMontreal-Bold";
  font-size: 16vh;
  line-height: .8;
  color: #7a967f; }

h1.designer-title {
  font-family: "Elgoc";
  margin-bottom: -16px;
  margin-top: 14px;
  font-size: 18vh;
  line-height: 1; }

@media screen and (max-device-width: 640px) {
  .name-title h1 {
    font-size: 7vh; }

  h1.designer-title {
    margin-bottom: -2px;
    margin-top: 10px;
    font-size: 9vh; }

  }
