@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:400,700&display=swap");
@font-face {
  font-family: "NeueMontreal-Bold";
  src: url(./fonts/NeueMontreal-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "NeueMontreal-Medium";
  src: url(./fonts/NeueMontreal-Medium.otf) format("truetype");
  font-weight: medium;
  font-style: normal; }
@font-face {
  font-family: "NeueMontreal-Regular";
  src: url(./fonts/NeueMontreal-Regular.otf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: "Elgoc";
  src: url(./fonts/Elgoc-Thin.otf) format("truetype"); }
.intro {
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px; }

.name-title h1 {
  font-family: "NeueMontreal-Bold";
  font-size: 16vh;
  line-height: .8;
  color: #7a967f; }

h1.designer-title {
  font-family: "Elgoc";
  margin-bottom: -16px;
  margin-top: 14px;
  font-size: 18vh;
  line-height: 1; }

@media screen and (max-device-width: 640px) {
  .name-title h1 {
    font-size: 7vh; }

  h1.designer-title {
    margin-bottom: -2px;
    margin-top: 10px;
    font-size: 9vh; }

  }
